<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=pageTitle%>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>
        <%=heading%>
    </h1>

    <%=obj.name%>
    <br>
    <%=ar[5]%>

    <form action="/" method="post">
        <input type="text" placeholder="enter name here" name="username">
        <input type="submit">
    </form>

    <%if(ar.length<=0){%>
        <h1>
            No data found in array
        </h1>
    <%}else{%>
        <%ar.forEach(i=>{%>
        <li>
            <%=i%>
        </li>
        <%})%>
    <%}%>
</body>
</html>